## Как подать информацию в модель

### 1. Получили строку в виде DF, её будим отправлять в модель для предсказания

In [1]:
import pandas as pd

In [2]:
# загружаем анализированные данные
df_in = pd.read_csv('ga_sessions_example.csv', low_memory=False)

In [3]:
# при необходимости можно выбрать интереющую нас строку
df_in_m = df_in #[:1]

In [4]:
df_in_m #проверим содержимое

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city
0,5329617171124008343.1638610331.1638610331,1.240898e+09,2021-12-04,12:32:11,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Xiaomi,NaN,360x640,Chrome,Russia,Yaroslavl
1,3085976841805874890.1626064585.1626064585,7.185100e+08,2021-07-12,07:00:00,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,JNHcPlZPxEMWDnRiyoBf,NaN,mobile,NaN,Apple,NaN,390x844,Safari,Russia,Vidnoye
2,7931154642709696267.1634127627.1634127627,1.846616e+09,2021-10-13,15:00:00,1,QxAxdyPLuQMEcrdZWdWb,cpc,WfdbkkrpQJoKZZNMVapQ,NaN,NaN,tablet,NaN,Apple,NaN,375x667,Safari (in-app),Russia,Saint Petersburg
3,2861661639214931998.1623498788.1623498788,6.662825e+08,2021-06-12,14:00:00,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,JNHcPlZPxEMWDnRiyoBf,NaN,mobile,NaN,Samsung,NaN,360x740,Chrome,Russia,Yekaterinburg
4,3531153736805736870.1637446396.1637446396,8.221608e+08,2021-11-21,01:13:16,2,YlsczTIyBSwTLNtuDkCd,outlook,PTQlxxEuqjyfVHcNKQQW,JNHcPlZPxEMWDnRiyoBf,puhZPIYqKXeFPaUviSjo,mobile,iOS,Apple,NaN,375x812,Safari,Germany,Frankfurt

### 2. сначала создаём столбец 'visit_datetime'

In [5]:
df_in_m['visit_datetime'] = pd.to_datetime(df_in_m['visit_date'] + ' ' + df_in_m['visit_time'])

In [6]:
df_in_m # убедились что есть

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city,visit_datetime
0,5329617171124008343.1638610331.1638610331,1.240898e+09,2021-12-04,12:32:11,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Xiaomi,NaN,360x640,Chrome,Russia,Yaroslavl,2021-12-04 12:32:11
1,3085976841805874890.1626064585.1626064585,7.185100e+08,2021-07-12,07:00:00,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,JNHcPlZPxEMWDnRiyoBf,NaN,mobile,NaN,Apple,NaN,390x844,Safari,Russia,Vidnoye,2021-07-12 07:00:00
2,7931154642709696267.1634127627.1634127627,1.846616e+09,2021-10-13,15:00:00,1,QxAxdyPLuQMEcrdZWdWb,cpc,WfdbkkrpQJoKZZNMVapQ,NaN,NaN,tablet,NaN,Apple,NaN,375x667,Safari (in-app),Russia,Saint Petersburg,2021-10-13 15:00:00
3,2861661639214931998.1623498788.1623498788,6.662825e+08,2021-06-12,14:00:00,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,JNHcPlZPxEMWDnRiyoBf,NaN,mobile,NaN,Samsung,NaN,360x740,Chrome,Russia,Yekaterinburg,2021-06-12 14:00:00
4,3531153736805736870.1637446396.1637446396,8.221608e+08,2021-11-21,01:13:16,2,YlsczTIyBSwTLNtuDkCd,outlook,PTQlxxEuqjyfVHcNKQQW,JNHcPlZPxEMWDnRiyoBf,puhZPIYqKXeFPaUviSjo,mobile,iOS,Apple,NaN,375x812,Safari,Germany,Frankfurt,2021-11-21 01:13:16

### 3. Генерируем фичи 'month' 'weekday' 'hour' 'time_of_day' 'season'

In [7]:
df_in_m['month'] = df_in_m['visit_datetime'].dt.month
df_in_m['weekday'] = df_in_m['visit_datetime'].dt.dayofweek  # 0 = понедельник
df_in_m['hour'] = df_in_m['visit_datetime'].dt.hour

In [8]:
def get_time_of_day(hour):
    if 5 <= hour < 12:
        return 'утро'
    elif 12 <= hour < 17:
        return 'день'
    elif 17 <= hour < 22:
        return 'вечер'
    else:
        return 'ночь'

df_in_m['time_of_day'] = df_in_m['hour'].apply(get_time_of_day)

In [9]:
def get_season(month):
    if month in [12, 1, 2]:
        return 'зима'
    elif month in [3, 4, 5]:
        return 'весна'
    elif month in [6, 7, 8]:
        return 'лето'
    else:
        return 'осень'

df_in_m['season'] = df_in_m['month'].apply(get_season)

In [10]:
def get_day(weekday):
    if weekday == 0:
        return 'Понедельник'
    elif weekday == 1:
        return 'Вторник'
    elif weekday == 2:
        return 'Среда'
    elif weekday == 3:
        return 'Четверг'
    elif weekday == 4:
        return 'Пятница'
    elif weekday == 5:
        return 'Суббота'
    else:
        return 'Воскресенье'

df_in_m['weekday'] = df_in_m['weekday'].apply(get_day)

In [11]:
df_in_m # убедимся фичи на месте

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,...,device_screen_resolution,device_browser,geo_country,geo_city,visit_datetime,month,weekday,hour,time_of_day,season
0,5329617171124008343.1638610331.1638610331,1.240898e+09,2021-12-04,12:32:11,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,...,360x640,Chrome,Russia,Yaroslavl,2021-12-04 12:32:11,12,Суббота,12,день,зима
1,3085976841805874890.1626064585.1626064585,7.185100e+08,2021-07-12,07:00:00,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,JNHcPlZPxEMWDnRiyoBf,NaN,...,390x844,Safari,Russia,Vidnoye,2021-07-12 07:00:00,7,Понедельник,7,утро,лето
2,7931154642709696267.1634127627.1634127627,1.846616e+09,2021-10-13,15:00:00,1,QxAxdyPLuQMEcrdZWdWb,cpc,WfdbkkrpQJoKZZNMVapQ,NaN,NaN,...,375x667,Safari (in-app),Russia,Saint Petersburg,2021-10-13 15:00:00,10,Среда,15,день,осень
3,2861661639214931998.1623498788.1623498788,6.662825e+08,2021-06-12,14:00:00,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,JNHcPlZPxEMWDnRiyoBf,NaN,...,360x740,Chrome,Russia,Yekaterinburg,2021-06-12 14:00:00,6,Суббота,14,день,лето
4,3531153736805736870.1637446396.1637446396,8.221608e+08,2021-11-21,01:13:16,2,YlsczTIyBSwTLNtuDkCd,outlook,PTQlxxEuqjyfVHcNKQQW,JNHcPlZPxEMWDnRiyoBf,puhZPIYqKXeFPaUviSjo,...,375x812,Safari,Germany,Frankfurt,2021-11-21 01:13:16,11,Воскресенье,1,ночь,осень

### 4. Дропаем лишнее

In [12]:
df_in_m = df_in_m.drop(['session_id', 'client_id', 'device_model', 'visit_date', 'visit_time', 'visit_datetime'], axis=1)

### 5. Всё вроде на месте, но есть нюанс, если модель получит значение фичи, которое она не видела при обучении прилетит ошибка.  
Разберём поэтапно

#### 'visit_number' это числовой признак отправляем его в модель как есть

#### 'utm_source' это категориальный признак, придётся обработать

In [13]:
#задаём вручную для переноса из ноутбука
top_sources = ['ZpYIoDJMcFzVoPFsHGJL',
 'fDLlAcSmythWSCVMvqvL',
 'kjsLglQLzykiRbcDiGcD',
 'bByPQxmDaMXgpHeypKSM',
 'BHcvLfOaCWvWTykYqHVe',
 'MvfHsxITijuriZxsqZqt',
 'aXQzDWsJuGXeBXexNHjc',
 'jaSOmLICuBzCFqHfBdRg',
 'QxAxdyPLuQMEcrdZWdWb',
 'ISrKoXQCxqqYvAZICvjs',
 'hTjLvqNxGggkGnxSCaTm',
 'nSReTmyFtbSjlPrTKoaX',
 'IZEXUFLARCUMynmHNBGo',
 'vFcAhRxLfOWKhvxjELkx',
 'RmEBuqrriAfAVsLQQmhk',
 'KgicpPxiEQfzPlPwQZJq',
 'oZCzWSykfixnjMPDNjSU',
 'iNFgfQPqHPBuvGCYtrQE',
 'DnEUulZAecfGPvdtZBYS',
 'BKeImrJuRDZcHiSSTdzm',
 'eLzNJHzPelJpEyBwMrKo',
 'PlbkrSYoHuZBWfYjYnfw',
 'YlsczTIyBSwTLNtuDkCd',
 'gVRrcxiDQubJiljoTbGm',
 'FTAuYVNoYYxgvKMpKSLW']

# Применяем логику: если значение в топ, то x, иначе 'other'
df_in_m['utm_source'] = df_in_m['utm_source'].apply(lambda x: x if x in top_sources else 'other')

#### 'utm_medium' аналогично

In [14]:
top_medium = ['banner',
 '(none)',
 'cpc',
 'referral',
 'cpm',
 'organic',
 'email',
 'push',
 'blogger_channel',
 'smartbanner',
 'cpv',
 'stories',
 'post',
 'tg',
 'smm',
 'blogger_stories',
 'cpa',
 'outlook',
 'clicks',
 'app',
 '(not set)',
 'blogger_header',
 'info_text',
 'landing',
 'sms']

# Применяем логику: если значение в топ, то x, иначе 'other'
df_in_m['utm_medium'] = df_in_m['utm_medium'].apply(lambda x: x if x in top_medium else 'other')

#### 'utm_campaign' аналогично

In [15]:
top_campaign = ['LTuZkdKfxRGVceoWkVyg',
 'LEoPHuyFvzoNfnzGgfcd',
 'gecBYcKZCPMcVYdSSzKP',
 'unknown',
 'FTjNLDyTrXaWYgZymFkV',
 'XHNUiSKKGTEpSAlaVMFQ',
 'bxOTvPtyGSdUrbwoXCPO',
 'sbJRYgVfvcnqKJNDDYIr',
 'YCKgTzTDywjcWyQudGch',
 'LwJZxKuWmvOhPsaCeRjG',
 'nSReTmyFtbSjlPrTKoaX',
 'RoDitORHdzGfGhNCyEMy',
 'bJJuEXRheRIxXEaYIXqM',
 'zxoiLxhuSIFrCeTLQVWZ',
 'SgIUDYUKnyWHVowUOqid',
 'jvsVVQVKRfBIqBDBuCkq',
 'MXqmDyetMTICSSitTjWV',
 'JwYIveaHVpeeRZloQCfF',
 'eimRuUrNhZLAYcwRrNXu',
 'hkvDVxqLOzGjGaoNiNzN',
 'jqlUOdZBNZYfInQVcZlS',
 'okTXSMadDkjvntEHzIjp',
 'PXQWdUxeUoXfoKzTBGpY',
 'YDIkQmcjRkpdxGbLLtNN',
 'ESphyUeLTPINiYALHWrO']

# Применяем логику: если значение в топ, то x, иначе 'other'
df_in_m['utm_campaign'] = df_in_m['utm_campaign'].apply(lambda x: x if x in top_campaign else 'other')

#### 'utm_adcontent' аналогично

In [16]:
top_adcontent = ['JNHcPlZPxEMWDnRiyoBf',
 'unknown',
 'vCIpmpaGBnIQhyYNkXqp',
 'xhoenQgDQsgfEPYNPwKO',
 'PkybGvWbaqORmxjNunqZ',
 'nNqUcgFgcqQbTVSvgaHr',
 'XSkXBCPfnJjvxbfeewtd',
 'LLfCasrxQzJIyuldcuWy',
 'guyNoEvzgofQvvwExGOq',
 'SOkCdPxfUcZUzzOdgGES',
 'AdeErYgVTbRcAWtHrMHq',
 'SAVVWaMghGnnvPOqMOIt',
 'sYzBROYhjSDbFZCpzGyf',
 'qhEmhjPXvwgEHdBikgEQ',
 'WAeycgIqKXoOMXPzDUDX',
 'dUuXlWzvmhDSyclWRhNP',
 'FkiRXDLOWtzVfvhEkhNo',
 'EteMoEECGsaJeMnuvAZD',
 'eEkLatVAYTkibdzPIyDi',
 'WYLajZgbUhGimwBKDZUH',
 'ZKlsrASsGaoEHfwkdKjL',
 'aYAcKhelKzYpXrRYknSP',
 'DZYjhfIUfdqhfuTNUmjn',
 'IwBedorwDIzxDRIZUTNo',
 'vilbbyUvEWbiJvxXpaNN']

# Применяем логику: если значение в топ, то x, иначе 'other'
df_in_m['utm_adcontent'] = df_in_m['utm_adcontent'].apply(lambda x: x if x in top_adcontent else 'other')

#### 'utm_keyword' аналогично

In [17]:
top_utm_keyword = ['unknown',
 'puhZPIYqKXeFPaUviSjo',
 'ITfrGJNwVsHBGJMAKoct',
 'UKNBOHebRIIsQRsjNKay',
 'JajANoFxoqXfKRNBUhzx',
 'hAmNSZmQkKQKAjZEGlgb',
 'aXQzDWsJuGXeBXexNHjc',
 'ZNhSIPchlbnKwZWcsKzz',
 'RkpOyeEPgcMBSDuHLQcj',
 'XEayFbemrPYbxFeNbxif',
 'pHqgLcdBQPSLcrTpLkdr',
 'IGUCNvHlhfHpROGclCit',
 'tVtbIKrPSOvrXLCznVVe',
 'BmOOOIoWGHEfxEfoUezs',
 'pucKZkLDtpMDBTobJAJG']

# Применяем логику: если значение в топ, то x, иначе 'other'
df_in_m['utm_keyword'] = df_in_m['utm_keyword'].apply(lambda x: x if x in top_utm_keyword else 'other')

#### 'device_category' у нас их всего 3, но если прибавится надо подстраховаться

In [18]:
top_device_category = ['desktop', 'mobile', 'tablet']

# Применяем логику: если значение в топ, то x, иначе 'other'
df_in_m['device_category'] = df_in_m['device_category'].apply(lambda x: x if x in top_device_category else 'other')

#### 'device_os' аналогично как с utm

In [19]:
top_device_os = ['unknown', 'iOS', 'Android', 'Windows', 'Macintosh']

# Применяем логику: если значение в топ, то x, иначе 'other'
df_in_m['device_os'] = df_in_m['device_os'].apply(lambda x: x if x in top_device_os else 'other')

#### 'device_brand' аналогично

In [20]:
top_device_brand = ['Apple',
 'Samsung',
 'unknown',
 'Xiaomi',
 'Huawei',
 'Realme',
 '(not set)',
 'OPPO',
 'Vivo',
 'OnePlus',
 'Asus',
 'Nokia',
 'Sony',
 'ZTE',
 'Google',
 'Meizu',
 'Blackview',
 'Lenovo',
 'Motorola',
 'Tecno']

# Применяем логику: если значение в топ, то x, иначе 'other'
df_in_m['device_brand'] = df_in_m['device_brand'].apply(lambda x: x if x in top_device_brand else 'other')

#### 'device_screen_resolution' аналогично

In [21]:
top_device_screen_resolution = ['414x896',
 '375x812',
 '1920x1080',
 '393x851',
 '375x667',
 '360x780',
 '412x915',
 '360x800',
 '390x844',
 '360x640',
 '393x873',
 '412x892',
 '360x760',
 '1440x900',
 '428x926',
 '360x720',
 '1536x864',
 '1366x768',
 '414x736',
 '412x846',
 '1280x720',
 '412x869',
 '320x568',
 '360x740',
 '385x854']

# Применяем логику: если значение в топ, то x, иначе 'other'
df_in_m['device_screen_resolution'] = df_in_m['device_screen_resolution'].apply(lambda x: x if x in top_device_screen_resolution else 'other')

#### 'device_browser' аналогично

In [22]:
top_device_browser = ['Chrome',
 'Safari',
 'YaBrowser',
 'Android Webview',
 'Samsung Internet',
 'Firefox',
 'Opera',
 'Edge']

# Применяем логику: если значение в топ, то x, иначе 'other'
df_in_m['device_browser'] = df_in_m['device_browser'].apply(lambda x: x if x in top_device_browser else 'other')

#### 'geo_country' аналогично

In [23]:
top_geo_country = ['Russia']

# Применяем логику: если значение в топ, то x, иначе 'other'
df_in_m['geo_country'] = df_in_m['geo_country'].apply(lambda x: x if x in top_geo_country else 'other')

#### 'geo_city' аналогично

In [24]:
top_geo_city = ['Moscow',
 'Saint Petersburg',
 '(not set)',
 'Yekaterinburg',
 'Krasnodar',
 'Kazan',
 'Samara',
 'Ufa',
 'Novosibirsk',
 'Nizhny Novgorod',
 'Chelyabinsk',
 'Rostov-on-Don',
 'Krasnoyarsk',
 'Grozny',
 'Irkutsk',
 'Tula',
 'Balashikha',
 'Vladivostok',
 'Sochi',
 'Voronezh',
 'Yaroslavl',
 'Khimki',
 'Perm',
 'Tyumen',
 'Saratov']

# Применяем логику: если значение в топ, то x, иначе 'other'
df_in_m['geo_city'] = df_in_m['geo_city'].apply(lambda x: x if x in top_geo_city else 'other')

#### 'month' 'weekday' 'hour' 'time_of_day' 'season' а вот месяцев, дней недели, часов, разделением дня и сезонов врятлит прибавиться. Оставляем как есть

### 6. Вроде всё да не всё. проверим тип данных в получившейся таблице

In [25]:
df_in_m.columns

Index(['visit_number', 'utm_source', 'utm_medium', 'utm_campaign',
       'utm_adcontent', 'utm_keyword', 'device_category', 'device_os',
       'device_brand', 'device_screen_resolution', 'device_browser',
       'geo_country', 'geo_city', 'month', 'weekday', 'hour', 'time_of_day',
       'season'],
      dtype='object')

In [26]:
df_in_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   visit_number              5 non-null      int64
 1   utm_source                5 non-null      object
 2   utm_medium                5 non-null      object
 3   utm_campaign              5 non-null      object
 4   utm_adcontent             5 non-null      object
 5   utm_keyword               5 non-null      object
 6   device_category           5 non-null      object
 7   device_os                 5 non-null      object
 8   device_brand              5 non-null      object
 9   device_screen_resolution  5 non-null      object
 10  device_browser            5 non-null      object
 11  geo_country               5 non-null      object
 12  geo_city                  5 non-null      object
 13  month                     5 non-null      int32
 14  weekday                   5 non-null      object
 15  hour                      5 non-null      int32
 16  time_of_day               5 non-null      object
 17  season                    5 non-null      object
dtypes: int32(2), int64(1), object(15)
memory usage: 812.0+ bytes

In [27]:
# заметим что у нас категориальные фичи не имеют тип category и надо их привести к этому типу
cols_cat = ['utm_source', 'utm_medium', 'utm_campaign',
       'utm_adcontent', 'utm_keyword', 'device_category', 'device_os',
       'device_brand', 'device_screen_resolution', 'device_browser',
       'geo_country', 'geo_city', 'month', 'weekday', 'hour', 'time_of_day',
       'season']

for col in cols_cat:
    df_in_m[col] = df_in_m[col].astype('category')

In [28]:
df_in_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   visit_number              5 non-null      int64
 1   utm_source                5 non-null      category
 2   utm_medium                5 non-null      category
 3   utm_campaign              5 non-null      category
 4   utm_adcontent             5 non-null      category
 5   utm_keyword               5 non-null      category
 6   device_category           5 non-null      category
 7   device_os                 5 non-null      category
 8   device_brand              5 non-null      category
 9   device_screen_resolution  5 non-null      category
 10  device_browser            5 non-null      category
 11  geo_country               5 non-null      category
 12  geo_city                  5 non-null      category
 13  month                     5 non-null      category
 14  weekday                   5 non-null      category
 15  hour                      5 non-null      category
 16  time_of_day               5 non-null      category
 17  season                    5 non-null      category
dtypes: category(17), int64(1)
memory usage: 2.7 KB

### наш X готов делаем предсказание класса 1

In [29]:
# загружаем обученную модель CatBoost
from catboost import CatBoostClassifier
cat_model = CatBoostClassifier()
cat_model.load_model("catboost_model.cbm")

In [30]:
y_pred_positive = cat_model.predict_proba(df_in_m)[:, 1]

# Применяем порог 0.51
threshold = 0.51

y_pred = (y_pred_positive >= 0.5).astype(int)
y_pred

array([0, 0, 0, 0, 0])

Вы получили массив ответов